table{
	height: 85vmin;
	width: 85vmin;
	margin: auto;
	margin-right: auto;
}

btn{
    padding-left:8px;
    padding-right:8px;
}
.gamePiece{
	color: #F0F0F0;
	width: 20%;
	height: 20%;
	margin: 10px;
	font-size: 7vmin;
    font-family: 'Architects Daughter';
	text-align: center;
	background-color: #7a7a7a;
}

.gamePiece[hj-value=" "]{
	visibility: hidden;
}

.valid{
	background-color: #3d3d3d !important;
}

.circle{
	border-radius: 50%;
}


.flip {
	backface-visibility: hidden;
	transform: rotateY(180deg);
    transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.modal-backdrop {
    z-index:0;
}
