table{
	height: 90vmin;
	width: 90vmin;
	margin: auto;
	margin-right: auto;
}

button{
	height: 8vmin;
	font-size: 5vmin;
}
.gamePiece{
	color: #F0F0F0;
	width: 20%;
	height: 20%;
	font-size: 7vmin;
    font-family: 'Architects Daughter';
	text-align: center;
	background-color: #7a7a7a;
}

.gamePiece[hj-value=" "]{
	visibility: hidden;
}

.valid{
	background-color: #3d3d3d !important;
}

.circle{
	border-radius: 50%;
}